body{font-size:13px;line-height:300%}
#header{width:100%;float:left;background:skyblue;display:block}
#header a{text-align:center;font-size:2rem;color:white;width:100%;float:left;margin:15px 0px 0px 0px}
#header h1{text-align:center;font-size:2.5rem;float:left;width:100%;margin:20px 0px 20px 0px;color:green}

.time{font-weight:bold;color:hotpink;margin-top:30px}
#content{width:100%;display:block;float:left}
 #firstday{text-align:center;position:relative;top:30px;background:antiquewhite}
 #seconday{text-align:center;position:relative;top:60px;background:navajowhite}
 #thirday{text-align:center;position:relative;top:90px;background:papayawhip}

 footer{width:100%;display:block;float:left;position:relative;top:150px;text-align:center;border-top:3px dotted skyblue}
 #caution{width:100%;float:left}
 #caution p{position:relative;top:90px;text-align:center;padding:15px 0px 20px 0px;width:90%;margin:0 auto} 




@media screen and (min-width:900px){
 body{font-size:20px} 
 #header a{font-size:2em}
 #header h1{font-size:2.7em}
}
 


@media screen and (max-width:400px){

}
