body{font-size:12px}
header{background:skyblue; width:100%; float:left;}
#home{float:left; width:100%; text-align:center; color:white; font-size:4em}
#tag{float:right; color:white; font-size:1.5em; margin:5px 15px 0px 0px}
header ul{float:left; width:100%; margin:30px 0px}
.list{float:left; width:20%; font-size:2em; color:white;text-align:center}
.list a{color:white}


#content{width:100%;float:left;display="inline-block";text-align:center}
#consection{width:100%;margin:15% 0 13% 0}
#consection p{position:relative;top:20px}
#consection ul{position:relative;top:30px;}
.section{margin:30px 0px}
.section p{margin-top:15px}

#bgimg{width:100%;background:url('https://c11.kr/2r7j');background-size:cover}

footer{width:100%;float:left;border-top:1px solid skyblue;background:antiquewhite}
#ref{float:left}

footer #hp{text-align:right;width:100%;float:right;margin-top:10px}


@media screen and (max-width:700px){
#tag{font-size:1.2em}
}


@media screen and (max-width:600px){
#home{font-size:3em}
.list{font-size:1.5em}
}

@media screen and (max-width:450px){
#tag{font-size:1.1em; margin-top:10px}
  #content{font-size:15px}  
}


@media screen and (min-width:1000px){
body{font-size:20px}
.section{margin:50px 0px}  
}
