body{font-size:12px}
header{background:skyblue; width:100%; float:left;}
#home{float:left; width:100%; text-align:center; color:white; font-size:4em}
#tag{float:right; color:white; font-size:1.5em; margin:5px 15px 0px 0px}
header ul{float:left; width:100%; margin:30px 0px}
.list{float:left; width:25%; font-size:2em; color:white;text-align:center}
.list a{color:white}


#content{width:100%; padding:15% 0px}
.section{text-align:center}


@media screen and (max-width:700px){
#tag{font-size:1.2em}
}


@media screen and (max-width:600px){
#home{font-size:3em}
.list{font-size:1.7em}
}

@media screen and (max-width:450px){
#tag{font-size:1.1em; margin-top:9px}
}